#header
  %ul
    = semantic_form_for :image, :url => images_path, :html => { :method => :get } do |f|
      %li= f.input :tag, :label => "Tag: ", :as => :select, :collection => Tag.all, :required => false
      %li= f.input :query, :label => "Query: ", :as => :search, :required => false
      %li= f.submit "Search"
  %ul
    = semantic_form_for @tag do |f|
      %li= f.input :name, :label => "Name: ", :required => false
      %li= f.submit "Create new tag"
#content
  = flash_messages
  - @images.in_groups_of(5, false) do |group|
    %ul
      - group.each do |image|
        %li
          %p= image.path
          - unless image.tags.empty?
            %p
              Tags:
              - image.tags.each do |tag|
                = link_to tag.name, tag_path(tag)
          .tag
            = semantic_form_for :image, :url => image_tag_path(image), :html => { :method => :post } do |f|
              = f.input :tag, :label => "Tag: ", :as => :select, :collection => (Tag.all - image.tags), :required => false, :include_blank => false
              = f.submit "Tag"
          %p= link_to image_tag(image.image_url(:thumb).to_s), image_path(image)
          %p= link_to "Delete", image_path(image), :confirm => "Are you sure?", :method => :delete